﻿@using PetFindMeShop.Services.Interfaces

@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> userManager
@inject IShopManagerService ShopManagerService

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var userId = userManager.GetUserId(User);
    bool isManager = await ShopManagerService.ManagerExistsByUserIdAsync(userId);
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Профил</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Емейл</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Парола</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Двуфакторна автентификация</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Лични данни</a></li>
    <li class="nav-item"><a class="nav-link" asp-controller="Customer" asp-action="LikedProducts">Любими продукти</a></li>
    @if (isManager)
    {
        <li class="nav-item"><a class="nav-link" asp-controller="ShopManager" asp-action="MyShops">Моите магазини</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="ShopManager" asp-action="Edit">Редактиране на мениджърски профил</a></li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link" asp-controller="ShopManager" asp-action="Create">Стани мениджър</a></li>
    }
    @if (User.IsInRole("Administrator"))
    {
        <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Админ панел</a></li>
    }
</ul>
