@model ShopDetailsViewModel

@{
    ViewData["Title"] = "Детайли за магазин";
}

<div class="mb-4">
    <div class="text-center mb-4">
        <h1 class="display-4">@Model.Name</h1>
    </div>

    <div class="border rounded mb-4">
        <img src="@Model.ShopImageName" style="width: 100%; object-fit: fill" alt="@Model.Name">

        <div class="p-4">
            <h4>Информация за магазина</h4>
            <p class="mb-0">@Model.Description</p>
        </div>
    </div>

    <div class="row-cols-6 d-flex justify-content-end mt-4 mb-4">
        <a asp-controller="Product" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-success">Добави продукт</a>
    </div>

    <div class="row row-cols-4 row-cols-md-2">
        @if (!Model.Products.Any())
        {
            <h4 class="lead w-100 text-center">
                Все още няма добавени продукти.
            </h4>
        }
        else {
            @foreach (var product in Model.Products)
            {
                <partial name="_ShopManagerProductPartial" model="@product" />
            }
        }
    </div>
</div>