@model ProductDetailsViewModel

@{
    ViewBag.Title = "Детайли за Продукт" + @Model.Title;
}

<h2 class="text-center">@Model.Title</h2>

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <img src="@Model.ImageName" alt="@ViewBag.Title" class="card-img-top mb-4" style="width: 20rem;">
        </div>
        <div class="card col-6 align-items-center justify-content-center border-0 mb-4">
            <div class="product-info w-90">
                <p><b>Категория: </b>@Model.Category</p>
                <p><b>Предлаган от: </b>@Model.ShopProviderName</p>
                <p><b>Цена: @($"{Model.Price:f2}") лв.</b></p>
                <p class="@(Model.IsAvailable ? "text-success" : "text-danger")"><i>@Model.Status</i></p>
            </div>
            <div class="product-buttons d-flex flex-column flex-column align-items-center justify-content-center w-100">
                @if (!@Model.IsDeleted)
                {
                    <partial name="_ProductBoughtQuantityFormPartial" model="@Model" />
                    @*<form asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id" class="boughtQuantityForm" method="post">
                        <div class="d-flex d-flex-row align-items-center align-self-start w-90" style="padding: 0 5%;">
                            <label asp-for="@Model.BoughtQuantityForm.BoughtQuantity" class="mb-1" style="margin-right: 1rem"></label>
                            <div class="wrapper mb-2">
                                <a class="plusminus minus">-</a>
                                <input asp-for="@Model.BoughtQuantityForm.BoughtQuantity" value="@(Model.BoughtQuantityForm.BoughtQuantity != 0 ? Model.BoughtQuantityForm.BoughtQuantity : 1)" class="num" min="1" max="100">
                                <span asp-validation-for="@Model.BoughtQuantityForm.BoughtQuantity" class="small text-danger"></span>
                                <a class="plusminus plus">+</a>
                            </div>
                        </div>
                        <button class="btn btn-primary w-90 mb-2 @(Model.IsAvailable ? "" : "disabled")">Добави в количката</button>
                    </form>*@
                                    
                    @if (!@Model.IsLiked)
                    {
                        @using (Html.BeginForm("AddToLikedCollection", "Product", new { id = @Model.Id }, FormMethod.Post, true,  new { @style = "width: 100%;" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="flex-column d-flex flex-column align-items-center justify-content-center w-100">
                                <input type="submit" class="btn btn-outline-primary w-90 mb-2" value="Добави в Любими" />
                            </div>
                        }
                    }
                    else
                    {
                        @using (Html.BeginForm("RemoveFromLikedCollection", "Product", new { id = @Model.Id }, FormMethod.Post, true, new { @style = "width: 100%;" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="flex-column d-flex flex-column align-items-center justify-content-center w-100">
                                <input type="submit" class="btn btn-outline-primary w-90 mb-2" value="Премахни от Любими" />
                            </div>
                        }
                    }
                }
                else
                {
                    <p class="text-danger">Продуктът не е наличен</p>
                }
            </div>
        </div>
        <div class="product-description w-90" style="margin: 0 auto;">
            <h4 class="text-left">Описание</h4>
            <p>@Model.Description</p>
        </div>
    </div>
</div>

@*<script src="~/js/quantityValidation.js"></script>*@